<router-outlet>
  <nav style="padding: 2px; margin-left: 40%; margin-top: 2%;">
    <a  routerLink="" style="margin-left: 2%; text-decoration: none; text-decoration-line: none;">Home</a>
    <a  routerLink="/about" style="margin-left: 1%; text-decoration: none;text-decoration-line: none;">About</a>
    <a  routerLink="/contact" style="margin-left: 1%; text-decoration: none;text-decoration-line: none;">Contact</a>
    <a  routerLink="/Calc" style="margin-left: 1%; text-decoration: none;text-decoration-line: none;">Calculate</a>

</nav>
</router-outlet>
